body {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  z-index: 3;
  background: white;
  -webkit-font-smoothing: antialiased;
}

a, a span, button {
  outline: none;
  transition: all 0.25s ease-in-out;
}

#root {
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.smcx-embed {
  z-index: 3 !important;
  padding-bottom: 50px !important;
  border: 1px solid transparent !important;
  background-color: transparent !important;
  max-width: 500px!important;
  margin-right: 0 !important;
}

.smcx-embed>.smcx-iframe-container {
  margin: auto !important;
}
