body {
  display: flex!important;
  align-items: center!important;
  flex-direction: column!important;
  z-index: 3;
  background: white;
}

.app {
	min-height: auto !important;
	background: transparent;
}

#root {
	min-width: 100%;
}

.smcx-embed {
  z-index: 3!important;
}
.smcx-embed>.smcx-iframe-container {
  margin: auto!important;
}


