body {
  display: flex!important;
  align-items: center!important;
  flex-direction: column!important;
}

.app {
	min-height: auto !important;
	background: transparent;
}

#root {
	min-width: 100%;
}
